@import url('https://fonts.googleapis.com/css2? family= Inter:wght@200;400;500;700 & display=swap');

* {
    padding: 0;
    margin: 
}

body {
    background-color: #010020;
    font-family: 'Inter', sans-serif;
}

header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    margin-top: 2%;
    margin-left: 17%; 
    margin-bottom: 5%;
}

h1 {
    inline-size: 299px;
    overflow-wrap: break-word;
}

input {
    visibility: hidden;
}

.nav {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left:0%;   
}

    .nav_link {
    width: 200px;
    margin-right: 50px;
    color: white;
    font-weight: 200px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;  
    padding-left: 40% ;
}

.nav_link:hover {
    color: #13F482;
} 

.main-container {
    display: flex;
    justify-content: space-evenly;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
}

.key {
    width: 8rem;
    height: 8rem;
    border: 1px solid black;
    background-color: pink;
    border-radius: 50%;
    color: whitesmoke;
}

p {
    color:#6F6A6A;
    margin: 20px;
}

h2 {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    font-size: 4rem;
}

.pricing-btn {
    color: #201f28;
    font-size: larger;
    font-weight: bold;
    background-color: whitesmoke;
    width: 252px;
    height: 80px;
    border-radius: 50px;
    margin-bottom: 5%;
    
}

.pricing-btn:hover {
    background-color: #13F482;
    color: whitesmoke;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        margin-right: 4.375rem;
        position: fixed;
        left: 0%;
        top: 7.188rem;
        width: 100%;
        padding: 1.25rem, 0rem;   
    }

    .nav_link {
     font-size: 1rem;
     margin: 0 ;
     line-height: 5.625rem;
     text-transform: uppercase;
     width: 100%;
     display: flex;
     flex-direction: column;
     background:#010020 ;
     transition: all 3s;
      } 

    img {
        width: 75%;
        height: 75%;    
    }

    .main-container {
        display: flex;
        flex-direction: column; 
    }

    .img-container {
        display: flex;
        justify-content: center;

    }

    .pricing-btn {
        width: 9.5rem;
        height: 3.125rem;
    }

    h1 {
        font-size: 2.5rem;
        display: flex;
        padding-left: 35%;
    }

    h2 {
        font-size: 1.25rem;
        padding: 3%;

    }

    p {
        font-size: 0.625rem;
        padding-right: 3%;
    }

    .respmenu:hover {
        color: #13F482; 
    }
   .logo {
        width: 50%;
        height: 50%;
        padding: 7%;
        margin-left: 15%;
    }    

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        visibility: visible;
      }

      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 1.875rem;
        pointer-events: none;
      }
      
      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      
      .respmenu {
        display: flex;
        color: white;
        position: relative;
        /*background: #123456;
        min-height: 48px;*/
        
      }
      
      .respmenu nav {
        display: none;
      }
      
      .respmenu input:checked ~ nav {
        display: block;
      }
      
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }
 }
  
